<!DOCTYPE html>
<html>
  <head>
    <title>FlackFloverflow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <%= javascript_include_tag "application" %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
